body {
    text-align: center;
    background-image: linear-gradient(rgb(136, 136, 136), rgb(204, 235, 255), rgb(136, 136, 136));

    font-family: 'Helvetica', sans-serif;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%
    ;
  }

.img-w150 {
    text-align: center;
    width: 200px;
    height: 130%;
    position: absolute;
    left: -279px;
    top: -10px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
    ;
}

.menu {
    margin-top: 30px;
    
}